Q1

 # create 2 list from a given list where
#1st list will contain all the origanal all the odd number from the original list and 
#the 2nd one will contain all the even numbers
L=[1,2,3,4,5,6]

In [4]:
#declare and assign list1
list1=[1,2,3,4,5,6]
listOdd=[]
listEven=[]
for num in list1:
    if num % 2==0:
        listEven.append(num)
    else:
        listOdd.append(num)

#print lists
print("list1:    ",list1)
print("listEven: ",listEven)
print("listOdd:  ",listOdd)

list1:     [1, 2, 3, 4, 5, 6]
listEven:  [2, 4, 6]
listOdd:   [1, 3, 5]

# How many take list as input from user

In [11]:
#creating on empty list 
lst=[1,2,3,4,5,6]
n=int(input("Enter number of elements :"))
for i in range(0,n):
    ele= int(input())
    lst.append(ele)
print(lst)

Enter number of elements : 6
 1
 2
 3
 4
 5
 6

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

# Write a program to merge 2 list without using the + operator

#L1 =[1,2,3,4] #L2 =[5,6,7,8]

In [12]:
L1=[1,2,3,4]
L1.extend([5,6,7,8])
L1

[1, 2, 3, 4, 5, 6, 7, 8]

# Write a program to replace an item with a different item if found in the list L=[1,2,3,4,5.3] replace 3 with 300

# Write a program to remove duplicate items from a list 
L=[1,2,3,4,5,3,4]

In [26]:
#initializing list
test_list = L=[1,2,1,2,3,4,5,3,4]
print("the original list is :"
      +str(test_list))
test_list =list(set(test_list))
print("the list after removing duplicates : "
      +str(test_list))

the original list is :[1, 2, 1, 2, 3, 4, 5, 3, 4]
the list after removing duplicates : [1, 2, 3, 4, 5]

# Write a program that can convert a 2D list to 1D list

In [17]:
L=[1,2,3,4,[5,6]]
print(L1)
L=[1,2,3,4,5]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5]

# Write a program to check if a list is in ascending  order or not

In [22]:
L=[4,5,7,8,10,11,9,6,1,3,2,]
L.sort()
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]